nav{
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    color: #007FFF;
}

.left{
    width: 80%;
    display: flex;
    align-items: center;
}

h1{
    font-size: 2rem;
}

.navList{
    margin-left: 2rem;
    list-style: none;
    display: flex;
}

.navItems{
    margin: 0 1rem;
    font-size: 1.25rem;

}

button{
    padding: .5rem 1.25rem;

    font-size: 1rem;

    outline: none;
    border: none;
    border-radius: .75rem;

    background: #007FFF;
    color: #fff;
}